<div class="second-container">
	<h1>Application Form</h1>
	<p> Please take a moment to complete the form below. During term time we <span>try</span> to respond to everyone within 24 hours. </p>
	<p> The information that you provide in the form below <span>will not be kept on record</span> unless you choose to fully enroll your child.</p>
	<hr>
	<div class="row">
	<%= form_for(@application) do |f| %>
	  <% if @application.errors.any? %>
	    <div id="error_explanation">
	      <h4><%= pluralize(@application.errors.count, "error") %> prohibited this application from being sent:</h4>

	      <ul>
	      <% @application.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
	    </div>
	    <hr>
	  <% end %>
	</div>

	<div class="row">
		<div class="">
		  <div class="field form-group">
		    <%= f.label "parent name" %>
		    <%= f.text_field :parent_first_name, :class => "form-control" %>
		  </div>
		  <div class="field form-group">
		    <%= f.label "child name" %>
		    <%= f.text_field :child_first_name, :class => "form-control" %>
		  </div>
		  <div class="field form-group">
		    <%= f.label :email %>
		    <%= f.text_field :email, :class => "form-control", :placeholder => "*required" %>
		  </div>
		    <div class="field form-group">
		    <%= f.label :telephone %>
		    <%= f.text_field :telephone, :class => "form-control", :placeholder => "*required" %>
		  </div>
		  

			<div class="field form-group">
		    <%= f.label "preferred location for dance classes" %><br>
		    <%= f.select :location, options_for_select([["  *required (select from drop-down)", ""], "", "No preference", "South Kensington", "Bousfield", "Oratory", "Our Lady of Victories", "Parsons Green", "Chelsea Theatre", "Fulham Prep"]), :class => "form-control"%>
		  </div>
		  <div class="field form-group">
		    <%= f.label "child date of birth" %>
		    <%= f.text_field :child_dob, :class => "form-control", :placeholder => "DD/MM/YYYY" %>
		  </div>
		  <div class="field form-group">
		    <%= f.label "dance level (if applicable)" %>
		    <%= f.text_field :dance_level, :class => "form-control", :placeholder => "(previous experience, dance exams taken, results)" %>
		  </div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="actions" style= "text-align:center;">
		  <%= f.submit "Apply", :class => "btn btn-primary btn-lg" %>
		</div>
	</div>

	<% end %>
</div>