<script>
  //nav hover dropdown
    $(function() {
        $(".dropdown").hover(
            function(){ $(this).addClass('open') },
            function(){ $(this).removeClass('open') }
        );
    });
</script>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">La Sylvaine</a>
    </div>



    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About</a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'Ethos', ethos_path %></li>
            <li><%= link_to 'History', history_path %></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">La Sylvaine Staff</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">News</a></li>
          </ul>
        </li>

        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Classes</a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Locations', locations_path, 'data-no-turbolink' => true %></li>
            <li><a href="#">Timetables</a></li>
            <li><a href="#">Calendar</a></li>
            <li><a href="#">Fees</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Registration Form</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Print Outs</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Uniform</a>
          <ul class="dropdown-menu">
            <li><a href="#">Girls</a></li>
            <li><a href="#">Boys</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">BUY ONLINE</a></li>
          </ul>
        </li>

        <li><a href="#" class="dropdown-toggle">Contact</a></li>

      </ul>
      
      <ul class="nav navbar-nav navbar-right">
       
        <form class="navbar-form navbar-left" role="search">
        <!-- <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div> -->
        <!-- <button type="submit" class="btn btn-success enroll">Enroll</button> -->
        <%= link_to 'Apply', new_application_path, :class => "btn btn-primary enroll" %>
      </form>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>